#about-us {
    color: white;
    padding: 2rem;
}

.col {
    align-items: center;
    text-align: center;
}

.col-left {
    padding-top: 1rem;
    background-color: #f3f7ff;
}

.heading {
    color: #002E63;
    font-weight: bold;
}

.coder_img {
    width: 36rem;
    height: 36rem;
}