#about-us {
    color: white;
    padding: 2rem;
}

.about_us-content {
    color: black;
    font-size: 1.6rem;
}

.col {
    align-items: center;
    line-height: 1.8rem;
    text-align: center;
}

.col-left {
    padding-top: 1rem;
    background-color: #f3f7ff;
}

.heading {
    color: #002E63;
    font-weight: bold;
}