footer {
    background-color: #002E63;
    color: white;
}

a i {
    color: white;
}

.copyright {
    padding-bottom: 1rem;
}

.fab#social {
    color: white;
}

.fab:hover {
    transform: scale(1.25);
}

.mb-4 {
    margin-bottom: 0.75rem!important;
}
