nav {
    background-color: #002E63;
    color: white;
    font-size: 18px;
}

.navbar-brand .navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: #002E63;
    background-color: white;
    border-radius: 13px;
}

a {
    color: white;
}

body {
    padding-top: 120px;
}

.rwoc:hover{
    color: white;
}