.flex-container {
  display: flex;
  background-color: #f7f7f2;
   align-items:centre;
  flex-direction: row;
  justify-content: center;

}

.flex-container > div {
  background-color: white;
  width:300px;
  margin: 50px;
  padding: 40px;
  font-size: 30px;
  flex-direction: row; 
} 
.button1 {
  background-color:white; 
   padding: 17px 100px;
  text-align: center;
  text-color:"black"
  border: 2px solid #008CBA;
  align:"centre";
  font-size: 24px;
  font-color: black;
}
.button1:hover {
  background-color: #0000FF;
  color: #000000;
}
a{text-decoration:none}